language: java
sudo: false
os:
- linux
branches:
  only:
  - master
notifications:
  email: false
jdk:
- openjdk7
- openjdk8
- openjdk9
- oraclejdk7
- oraclejdk8
- oraclejdk9
script:
- "sbt clean checkstyle test"
after_success:
- bash <(curl -s https://codecov.io/bash)
